a:hover {
    cursor: pointer;
}

.blue-hyperlink {
    color: #007bff !important;
}

a:hover, blue-hyperlink {
    color: orange !important;
}

.btn-spacing {
    margin-right: 20px !important;
}

.-btn-height {
    margin-top: 10px !important;
}

.d-flex {
    margin-top: 30px !important;
}

.product-category-shop-icon {
    font-size: 20px !important;
}

.btn-spacing {
    margin-top: 15px !important;
}

.orange-outline {
    border: 1px solid orange;
}

.card-img-top {
    background-color: white;
}

.card-title {
    font-size: 18px;
}
